## 1. Uploading Our Data

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
ba = pd.read_csv('boeing-mar-19.csv') #The particular data for this project covers prices up to March 19, 2021.
gd = pd.read_csv('general-dynamics-mar-19.csv')
lmt = pd.read_csv('lockheed-martin-mar-19.csv')
noc = pd.read_csv('northrop-grumman-mar-19.csv')
rtx = pd.read_csv('raytheon-technologies-mar-19.csv')
spx = pd.read_csv('sp-500-mar-19.csv')

In [3]:
print(ba.shape) 
print()
print(gd.shape)
print()
print(lmt.shape)
print()
print(noc.shape)
print()
print(rtx.shape)
print()
print(spx.shape)

(14906, 7)

(11150, 7)

(11150, 7)

(9888, 7)

(12919, 7)

(10897, 5)

In [4]:
noc.head()

         Date      Open      High       Low     Close  Adj Close  Volume
0  1981-12-31  7.886802  7.905625  7.867979  7.886802   2.677505   33868
1  1982-01-04  7.867979  7.886802  7.849156  7.849156   2.664724   65080
2  1982-01-05  7.867979  7.886802  7.849156  7.849156   2.664724  318096
3  1982-01-06  7.660927  7.811510  7.491521  7.585635   2.575260  369231
4  1982-01-07  7.397406  7.453875  7.322115  7.453875   2.530529  151411

In [5]:
spx.head()

       Date     Open     High      Low    Close
0  03/19/21  3913.14  3930.12  3886.75  3913.10
1  03/18/21  3953.50  3969.62  3910.86  3915.46
2  03/17/21  3949.57  3983.87  3935.74  3974.12
3  03/16/21  3973.59  3981.04  3953.44  3962.71
4  03/15/21  3942.96  3970.08  3923.54  3968.94

## 2A. Cleaning Up Our Data

In [6]:
spx = spx.sort_index(ascending=False)
spx = spx.reset_index(drop=True)
spx.Date = pd.to_datetime(spx.Date, format='%m/%d/%y')
spx.Date = spx.Date.astype(str)
spx.columns = ['Date','Open','High','Low','Close']
spx.head()

#The S&P 500 Index's data frame needs to have its dates flipped so that its layout matches the defense contractors'
#Date column.  For convenience purposes its columns are likewise rearranged to match the contractors.

         Date   Open   High    Low  Close
0  1978-01-03  93.82  95.15  93.49  93.82
1  1978-01-04  93.52  94.10  93.16  93.52
2  1978-01-05  92.74  94.53  92.51  92.74
3  1978-01-06  91.62  92.66  91.05  91.62
4  1978-01-09  90.64  91.52  90.01  90.64

In [7]:
ba = ba.loc[(ba.Date >= '1985-01-01')] #Each dataset includes prices starting from January 1, 1985 onward.
gd = gd.loc[(gd.Date >= '1985-01-01')]
lmt = lmt.loc[(lmt.Date >= '1985-01-01')]
noc = noc.loc[(noc.Date >= '1985-01-01')]
rtx = rtx.loc[(rtx.Date >= '1985-01-01')]
spx = spx.loc[(spx.Date >= '1985-01-01')]

ba['Ticker'] = 'BA' #The tickers will be our primary reference over the course of this project.
gd['Ticker'] = 'GD'
lmt['Ticker'] = 'LMT'
noc['Ticker'] = 'NOC'
rtx['Ticker'] = 'RTX'
spx['Ticker'] = 'SPX'

ba.Date = ba.Date.astype(str)
gd.Date = gd.Date.astype(str)
lmt.Date = lmt.Date.astype(str)
noc.Date = noc.Date.astype(str)
rtx.Date = rtx.Date.astype(str)

In [8]:
print(ba.shape)
print()
print(gd.shape)
print()
print(lmt.shape)
print()
print(noc.shape)
print()
print(rtx.shape)
print()
print(spx.shape)

(9128, 8)

(9128, 8)

(9128, 8)

(9128, 8)

(9128, 8)

(9128, 6)

In [9]:
print(noc.dtypes)
print()
print(spx.dtypes)

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
Ticker        object
dtype: object

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Ticker     object
dtype: object

In [10]:
ba['Close Absolute Change'] = ba.Close.diff()
ba['Return'] = ba.Close.pct_change()*100
ba['Range'] = ba.High-ba.Low
ba['Volume Relative Change'] = ba.Volume.pct_change()*100
ba = ba.fillna(0)

gd['Close Absolute Change'] = gd.Close.diff()
gd['Return'] = gd.Close.pct_change()*100
gd['Range'] = gd.High-gd.Low
gd['Volume Relative Change'] = gd.Volume.pct_change()*100
gd = gd.fillna(0)

lmt['Close Absolute Change'] = lmt.Close.diff()
lmt['Return'] = lmt.Close.pct_change()*100
lmt['Range'] = lmt.High-lmt.Low
lmt['Volume Relative Change'] = lmt.Volume.pct_change()*100
lmt = lmt.fillna(0)

noc['Close Absolute Change'] = noc.Close.diff()
noc['Return'] = noc.Close.pct_change()*100
noc['Range'] = noc.High-noc.Low
noc['Volume Relative Change'] = noc.Volume.pct_change()*100
noc = noc.fillna(0)

rtx['Close Absolute Change'] = rtx.Close.diff()
rtx['Return'] = rtx.Close.pct_change()*100
rtx['Range'] = rtx.High-rtx.Low
rtx['Volume Relative Change'] = rtx.Volume.pct_change()*100
rtx = rtx.fillna(0)

#For each contractor we calculate the absolute and relative changes in closing price, the daily differences between
#high and low prices during trading, and the relative changes in volume.

In [11]:
spx['Close Absolute Change'] = spx.Close.diff() #We apply the same calcultions to the S&P 500's data.
spx['Return'] = spx.Close.pct_change()*100
spx['Range'] = spx.High-spx.Low
spx = spx.fillna(0)
spx = spx[['Ticker','Date','Open','High','Low','Close','Close Absolute Change','Return','Range']]
spx['Year'] = pd.DatetimeIndex(spx.Date).year
print(spx.shape)
spx.head()

(9128, 10)

,Ticker,Date,Open,High,Low,Close,Close Absolute Change,Return,Range,Year
1769,SPX,1985-01-02,165.37,167.12,165.25,165.37,0.00,0.000000,1.87,1985
1770,SPX,1985-01-03,164.57,166.07,164.44,164.57,-0.80,-0.483764,1.63,1985
1771,SPX,1985-01-04,163.68,164.56,163.43,163.68,-0.89,-0.540803,1.13,1985
1772,SPX,1985-01-07,164.24,164.62,163.74,164.24,0.56,0.342131,0.88,1985
1773,SPX,1985-01-08,163.99,164.49,163.99,163.99,-0.25,-0.152216,0.50,1985

In [12]:
stocks = pd.concat([ba,gd,lmt,noc,rtx]) #We concatenate the contractors into one data frame.
stocks = stocks.reset_index(drop=True)
stocks = stocks.drop('Adj Close', axis=1)
stocks['Year'] = pd.DatetimeIndex(stocks.Date).year
stocks = stocks[['Ticker','Date','Open','High','Low','Close','Volume','Close Absolute Change',
                 'Return','Range','Volume Relative Change','Year']]
print(stocks.shape)
print()
print(stocks.dtypes)
print()

data = stocks.drop(['Volume','Volume Relative Change'], axis=1)
data = pd.concat([data,spx])
data = data.reset_index(drop=True)
print(data.shape)
print()
print(data.dtypes)
stocks.tail()

#To include the S&P 500 with the contractors, we first have to drop the Volume and Volume Relative Change columns, as
#they are not present within the S&P 500's data frame.

(45640, 12)

Ticker                     object
Date                       object
Open                      float64
High                      float64
Low                       float64
Close                     float64
Volume                      int64
Close Absolute Change     float64
Return                    float64
Range                     float64
Volume Relative Change    float64
Year                        int64
dtype: object

(54768, 10)

Ticker                    object
Date                      object
Open                     float64
High                     float64
Low                      float64
Close                    float64
Close Absolute Change    float64
Return                   float64
Range                    float64
Year                       int64
dtype: object

,Ticker,Date,Open,High,Low,Close,Volume,Close Absolute Change,Return,Range,Volume Relative Change,Year
45635,RTX,2021-03-15,78.779999,80.059998,78.349998,79.570000,7848900,1.050003,1.337243,1.710000,29.200000,2021
45636,RTX,2021-03-16,79.440002,79.669998,78.010002,78.239998,5905800,-1.330002,-1.671487,1.659996,-24.756335,2021
45637,RTX,2021-03-17,78.459999,79.839996,78.309998,79.559998,6593800,1.320000,1.687117,1.529998,11.649565,2021
45638,RTX,2021-03-18,79.220001,79.919998,77.879997,77.940002,6091800,-1.619996,-2.036194,2.040001,-7.613212,2021
45639,RTX,2021-03-19,78.000000,78.550003,76.120003,78.360001,13774300,0.419999,0.538875,2.430000,126.112151,2021

In [13]:
data.tail()

,Ticker,Date,Open,High,Low,Close,Close Absolute Change,Return,Range,Year
54763,SPX,2021-03-15,3942.96,3970.08,3923.54,3968.94,25.60,0.649196,46.54,2021
54764,SPX,2021-03-16,3973.59,3981.04,3953.44,3962.71,-6.23,-0.156969,27.60,2021
54765,SPX,2021-03-17,3949.57,3983.87,3935.74,3974.12,11.41,0.287934,48.13,2021
54766,SPX,2021-03-18,3953.50,3969.62,3910.86,3915.46,-58.66,-1.476050,58.76,2021
54767,SPX,2021-03-19,3913.14,3930.12,3886.75,3913.10,-2.36,-0.060274,43.37,2021

## 2B. Adding Additional Measures to Our Data

In [14]:
stocks_close = stocks.iloc[:,[0,1,5]]
stocks_close = stocks_close.pivot(index='Date', columns='Ticker', values='Close')
stocks_close.tail()

#We isolate the contractors' closing prices and designate their respective tickers as columns indexed by date.

Ticker              BA          GD         LMT         NOC        RTX
Date
2021-03-15  265.630005  176.710007  346.410004  305.739990  79.570000
2021-03-16  255.210007  175.320007  347.130005  305.839996  78.239998
2021-03-17  263.589996  177.520004  351.019989  310.570007  79.559998
2021-03-18  256.059998  179.240005  358.450012  314.940002  77.940002
2021-03-19  255.820007  177.619995  355.070007  308.649994  78.360001

In [15]:
average_close = stocks.iloc[:,[0,5]]
average_close = average_close.groupby('Ticker').mean()
average_close

            Close
Ticker
BA      78.277901
GD      59.731390
LMT     93.027038
NOC     79.157690
RTX     31.321024

In [16]:
stocks['Close < $100'] = 0 #The following are binary columns based on whether a stock closes within a certain range.
stocks['Close $100-200'] = 0
stocks['Close $200-300'] = 0
stocks['Close > $300'] = 0

stocks['Close < $100'] = np.where((stocks.Close < 100), 1, stocks['Close < $100'])
stocks['Close $100-200'] = np.where(((stocks.Close >= 100) & (stocks.Close < 200)), 1, stocks['Close $100-200'])
stocks['Close $200-300'] = np.where(((stocks.Close >= 200) & (stocks.Close < 300)), 1, stocks['Close $200-300'])
stocks['Close > $300'] = np.where((stocks.Close > 300), 1, stocks['Close > $300'])

close_share = stocks.iloc[:,np.r_[0,12:16]]
close_share = close_share.groupby('Ticker').sum()
close_share = close_share.transpose()
close_share

Ticker            BA    GD   LMT   NOC   RTX
Close < $100    7130  7332  6857  7260  9128
Close $100-200  1238  1570   820   618     0
Close $200-300   223   226   626   627     0
Close > $300     537     0   825   621     0

In [17]:
volume_mean = stocks.iloc[:,[0,1,6]]
volume_mean = volume_mean.drop('Date', axis=1).groupby('Ticker').mean()
volume_mean = volume_mean.Volume.astype(int)
volume_mean = pd.DataFrame(volume_mean)
volume_mean

#In this set of steps we determine the average volume traded daily among the contractors.

         Volume
Ticker
BA      4563263
GD      1489489
LMT     1580039
NOC     1200751
RTX     6111237

In [18]:
stocks['Volume < 3 Million'] = 0 #The following are binary columns based on whether a stock trades at a certain level.
stocks['Volume 3-5 Million'] = 0
stocks['Volume > 5 Million'] = 0

stocks['Volume < 3 Million'] = np.where((stocks.Volume < 3000000), 1, stocks['Volume < 3 Million'])
stocks['Volume 3-5 Million'] = np.where(((stocks.Volume >= 3000000) & (stocks.Volume < 5000000)), 1, 
                                        stocks['Volume 3-5 Million'])
stocks['Volume > 5 Million'] = np.where((stocks.Volume > 5000000), 1, stocks['Volume > 5 Million'])

volume_share = stocks.iloc[:,np.r_[0,16:19]]
volume_share = volume_share.groupby('Ticker').sum()
volume_share = volume_share.transpose()
volume_share

Ticker                BA    GD   LMT   NOC   RTX
Volume < 3 Million  3874  8421  8259  8511  1201
Volume 3-5 Million  3127   555   675   492  2837
Volume > 5 Million  2127   152   194   125  5090

In [19]:
stocks

,Ticker,Date,Open,High,Low,Close,Volume,Close Absolute Change,Return,Range,Volume Relative Change,Year,Close < $100,Close $100-200,Close $200-300,Close > $300,Volume < 3 Million,Volume 3-5 Million,Volume > 5 Million
0,BA,1985-01-02,8.370370,8.370370,8.037037,8.037037,1906875,0.000000,0.000000,0.333333,0.000000,1985,1,0,0,0,1,0,0
1,BA,1985-01-03,8.055556,8.222222,8.055556,8.092593,3354750,0.055556,0.691250,0.166666,75.929204,1985,1,0,0,0,0,1,0
2,BA,1985-01-04,8.092593,8.148148,8.074074,8.129630,1251450,0.037037,0.457665,0.074074,-62.696177,1985,1,0,0,0,1,0,0
3,BA,1985-01-07,8.129630,8.222222,8.111111,8.185185,1257525,0.055555,0.683364,0.111111,0.485437,1985,1,0,0,0,1,0,0
4,BA,1985-01-08,8.166667,8.166667,8.129630,8.148148,1015875,-0.037037,-0.452488,0.037037,-19.216318,1985,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45635,RTX,2021-03-15,78.779999,80.059998,78.349998,79.570000,7848900,1.050003,1.337243,1.710000,29.200000,2021,1,0,0,0,0,0,1
45636,RTX,2021-03-16,79.440002,79.669998,78.010002,78.239998,5905800,-1.330002,-1.671487,1.659996,-24.756335,2021,1,0,0,0,0,0,1
45637,RTX,2021-03-17,78.459999,79.839996,78.309998,79.559998,6593800,1.320000,1.687117,1.529998,11.649565,2021,1,0,0,0,0,0,1
45638,RTX,2021-03-18,79.220001,79.919998,77.879997,77.940002,6091800,-1.619996,-2.036194,2.040001,-7.613212,2021,1,0,0,0,0,0,1
45639,RTX,2021-03-19,78.000000,78.550003,76.120003,78.360001,13774300,0.419999,0.538875,2.430000,126.112151,2021,1,0,0,0,0,0,1

In [20]:
ba = stocks.loc[(stocks.Ticker == 'BA')]
gd = stocks.loc[(stocks.Ticker == 'GD')]
lmt = stocks.loc[(stocks.Ticker == 'LMT')]
noc = stocks.loc[(stocks.Ticker == 'NOC')]
rtx = stocks.loc[(stocks.Ticker == 'RTX')]

volume = stocks.iloc[:,[0,1,6,8,10,11]].set_index('Date') #Each contractor isolates its volumes over time.
ba_vol = volume.loc[(volume.Ticker == 'BA')]
gd_vol = volume.loc[(volume.Ticker == 'GD')]
lmt_vol = volume.loc[(volume.Ticker == 'LMT')]
noc_vol = volume.loc[(volume.Ticker == 'NOC')]
rtx_vol = volume.loc[(volume.Ticker == 'RTX')]

In [21]:
ba_vol

           Ticker    Volume    Return  Volume Relative Change  Year
Date
1985-01-02     BA   1906875  0.000000                0.000000  1985
1985-01-03     BA   3354750  0.691250               75.929204  1985
1985-01-04     BA   1251450  0.457665              -62.696177  1985
1985-01-07     BA   1257525  0.683364                0.485437  1985
1985-01-08     BA   1015875 -0.452488              -19.216318  1985
...           ...       ...       ...                     ...   ...
2021-03-15     BA  34816700 -1.322485               -1.115889  2021
2021-03-16     BA  28599000 -3.922749              -17.858384  2021
2021-03-17     BA  23529600  3.283566              -17.725795  2021
2021-03-18     BA  24548000 -2.856709                4.328165  2021
2021-03-19     BA  17254300 -0.093725              -29.711993  2021

[9128 rows x 5 columns]

In [22]:
ba_vol1 = ba_vol.sort_values(by='Volume', ascending=False).drop('Ticker', axis=1)
ba_vol1 = ba_vol1.head(10)
ba_vol2 = ba_vol.sort_values(by='Volume Relative Change', ascending=False).drop('Ticker', axis=1)
ba_vol2 = ba_vol2.head(10)

gd_vol1 = gd_vol.sort_values(by='Volume', ascending=False).drop('Ticker', axis=1)
gd_vol1 = gd_vol1.head(10)
gd_vol2 = gd_vol.sort_values(by='Volume Relative Change', ascending=False).drop('Ticker', axis=1)
gd_vol2 = gd_vol2.head(10)

lmt_vol1 = lmt_vol.sort_values(by='Volume', ascending=False).drop('Ticker', axis=1)
lmt_vol1 = lmt_vol1.head(10)
lmt_vol2 = lmt_vol.sort_values(by='Volume Relative Change', ascending=False).drop('Ticker', axis=1)
lmt_vol2 = lmt_vol2.head(10)

noc_vol1 = noc_vol.sort_values(by='Volume', ascending=False).drop('Ticker', axis=1)
noc_vol1 = noc_vol1.head(10)
noc_vol2 = noc_vol.sort_values(by='Volume Relative Change', ascending=False).drop('Ticker', axis=1)
noc_vol2 = noc_vol2.head(10)

rtx_vol1 = rtx_vol.sort_values(by='Volume', ascending=False).drop('Ticker', axis=1)
rtx_vol1 = rtx_vol1.head(10)
rtx_vol2 = rtx_vol.sort_values(by='Volume Relative Change', ascending=False).drop('Ticker', axis=1)
rtx_vol2 = rtx_vol2.head(10)

#For each of the contractors, we sort from the trading sessions from highest to lowest in terms of volume and the
#relative change in volume in separate data frames, and isolate the top ten values for each.

In [23]:
ba_vol1

               Volume     Return  Volume Relative Change  Year
Date
2020-06-11  103212800 -16.424956               14.192526  2020
2020-06-05   99846000  11.464997               48.678591  2020
2020-06-10   90384900  -6.150226               35.532556  2020
2020-06-12   89550100  11.476468              -13.237409  2020
2020-06-08   80902800  12.203674              -18.972418  2020
2020-06-15   78612900   0.754581              -12.213498  2020
2020-06-29   78499900  14.399159               55.002133  2020
2020-03-25   77826000  24.318606               78.160433  2020
2020-06-16   76496900   3.577041               -2.691670  2020
2020-06-19   67262100  -2.740647               10.537733  2020

In [24]:
ba_vol2

              Volume     Return  Volume Relative Change  Year
Date
1987-07-28  26435250  15.281498             1359.140586  1987
1997-04-28  15615400  -6.495098             1057.039123  1997
1998-12-02  36727200 -16.563467              889.444759  1998
2013-07-12  44391800  -4.687495              879.994702  2013
1998-07-23  27589500 -13.743455              855.282019  1998
2019-03-11  34742200  -5.332039              815.497115  2019
1997-10-22  31887200  -7.638889              775.156439  1997
1990-11-20  10236400  -9.788360              650.909624  1990
2016-02-11  33735600  -6.806462              590.087142  2016
1995-03-14   5557000   4.545455              526.352570  1995

In [25]:
data

,Ticker,Date,Open,High,Low,Close,Close Absolute Change,Return,Range,Year
0,BA,1985-01-02,8.370370,8.370370,8.037037,8.037037,0.000000,0.000000,0.333333,1985
1,BA,1985-01-03,8.055556,8.222222,8.055556,8.092593,0.055556,0.691250,0.166666,1985
2,BA,1985-01-04,8.092593,8.148148,8.074074,8.129630,0.037037,0.457665,0.074074,1985
3,BA,1985-01-07,8.129630,8.222222,8.111111,8.185185,0.055555,0.683364,0.111111,1985
4,BA,1985-01-08,8.166667,8.166667,8.129630,8.148148,-0.037037,-0.452488,0.037037,1985
...,...,...,...,...,...,...,...,...,...,...
54763,SPX,2021-03-15,3942.960000,3970.080000,3923.540000,3968.940000,25.600000,0.649196,46.540000,2021
54764,SPX,2021-03-16,3973.590000,3981.040000,3953.440000,3962.710000,-6.230000,-0.156969,27.600000,2021
54765,SPX,2021-03-17,3949.570000,3983.870000,3935.740000,3974.120000,11.410000,0.287934,48.130000,2021
54766,SPX,2021-03-18,3953.500000,3969.620000,3910.860000,3915.460000,-58.660000,-1.476050,58.760000,2021
54767,SPX,2021-03-19,3913.140000,3930.120000,3886.750000,3913.100000,-2.360000,-0.060274,43.370000,2021

In [26]:
daily_return = data.iloc[:,[0,1,7]]
daily_return = daily_return.pivot(index='Date',columns='Ticker',values='Return')
daily_return = daily_return.loc[(daily_return.index >= '2016-03-20')]
daily_return.head()

#As part of our inquiry on volatilites, we can compare the contractors' daily returns with the S&P 500's over the last
#five years, taking into account how our data covers up to March 19, 2021.

Ticker            BA        GD       LMT       NOC       RTX       SPX
Date
2016-03-21  1.418329 -0.494646  0.158431  0.097937  0.121151  0.098557
2016-03-22 -0.544683  0.341301 -0.239537  0.082399 -0.514269 -0.087736
2016-03-23 -1.672583 -0.680271  0.240112  0.319034  0.456115 -0.638599
2016-03-24 -0.556982 -3.901135 -1.473378 -0.389829 -0.050450 -0.037806
2016-03-28 -0.628218  1.348005  0.486238  0.350159 -0.151423  0.054520

In [27]:
stocks

,Ticker,Date,Open,High,Low,Close,Volume,Close Absolute Change,Return,Range,Volume Relative Change,Year,Close < $100,Close $100-200,Close $200-300,Close > $300,Volume < 3 Million,Volume 3-5 Million,Volume > 5 Million
0,BA,1985-01-02,8.370370,8.370370,8.037037,8.037037,1906875,0.000000,0.000000,0.333333,0.000000,1985,1,0,0,0,1,0,0
1,BA,1985-01-03,8.055556,8.222222,8.055556,8.092593,3354750,0.055556,0.691250,0.166666,75.929204,1985,1,0,0,0,0,1,0
2,BA,1985-01-04,8.092593,8.148148,8.074074,8.129630,1251450,0.037037,0.457665,0.074074,-62.696177,1985,1,0,0,0,1,0,0
3,BA,1985-01-07,8.129630,8.222222,8.111111,8.185185,1257525,0.055555,0.683364,0.111111,0.485437,1985,1,0,0,0,1,0,0
4,BA,1985-01-08,8.166667,8.166667,8.129630,8.148148,1015875,-0.037037,-0.452488,0.037037,-19.216318,1985,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45635,RTX,2021-03-15,78.779999,80.059998,78.349998,79.570000,7848900,1.050003,1.337243,1.710000,29.200000,2021,1,0,0,0,0,0,1
45636,RTX,2021-03-16,79.440002,79.669998,78.010002,78.239998,5905800,-1.330002,-1.671487,1.659996,-24.756335,2021,1,0,0,0,0,0,1
45637,RTX,2021-03-17,78.459999,79.839996,78.309998,79.559998,6593800,1.320000,1.687117,1.529998,11.649565,2021,1,0,0,0,0,0,1
45638,RTX,2021-03-18,79.220001,79.919998,77.879997,77.940002,6091800,-1.619996,-2.036194,2.040001,-7.613212,2021,1,0,0,0,0,0,1
45639,RTX,2021-03-19,78.000000,78.550003,76.120003,78.360001,13774300,0.419999,0.538875,2.430000,126.112151,2021,1,0,0,0,0,0,1

In [28]:
close = stocks.iloc[:,[0,1,5,7,8,11]].set_index('Date')
ba_close = close.loc[(close.Ticker == 'BA')]
gd_close = close.loc[(close.Ticker == 'GD')]
lmt_close = close.loc[(close.Ticker == 'LMT')]
noc_close = close.loc[(close.Ticker == 'NOC')]
rtx_close = close.loc[(close.Ticker == 'RTX')]

#We want to compare the contractors in terms of their closing prices and their changes with respect to that variable
#in absolute and relative terms.

In [29]:
ba_close

           Ticker       Close  Close Absolute Change    Return  Year
Date
1985-01-02     BA    8.037037               0.000000  0.000000  1985
1985-01-03     BA    8.092593               0.055556  0.691250  1985
1985-01-04     BA    8.129630               0.037037  0.457665  1985
1985-01-07     BA    8.185185               0.055555  0.683364  1985
1985-01-08     BA    8.148148              -0.037037 -0.452488  1985
...           ...         ...                    ...       ...   ...
2021-03-15     BA  265.630005              -3.559997 -1.322485  2021
2021-03-16     BA  255.210007             -10.419998 -3.922749  2021
2021-03-17     BA  263.589996               8.379989  3.283566  2021
2021-03-18     BA  256.059998              -7.529998 -2.856709  2021
2021-03-19     BA  255.820007              -0.239991 -0.093725  2021

[9128 rows x 5 columns]

In [30]:
ba_close1 = ba_close.sort_values(by='Close Absolute Change', ascending=False).drop('Ticker', axis=1)
ba_close1 = ba_close1.iloc[np.r_[0:5,-5:0],:]
ba_close2 = ba_close.sort_values(by='Return', ascending=False).drop('Ticker', axis=1)
ba_close2 = ba_close2.iloc[np.r_[0:5,-5:0],:]

gd_close1 = gd_close.sort_values(by='Close Absolute Change', ascending=False).drop('Ticker', axis=1)
gd_close1 = gd_close1.iloc[np.r_[0:5,-5:0],:]
gd_close2 = gd_close.sort_values(by='Return', ascending=False).drop('Ticker', axis=1)
gd_close2 = gd_close2.iloc[np.r_[0:5,-5:0],:]

lmt_close1 = lmt_close.sort_values(by='Close Absolute Change', ascending=False).drop('Ticker', axis=1)
lmt_close1 = lmt_close1.iloc[np.r_[0:5,-5:0],:]
lmt_close2 = lmt_close.sort_values(by='Return', ascending=False).drop('Ticker', axis=1)
lmt_close2 = lmt_close2.iloc[np.r_[0:5,-5:0],:]

noc_close1 = noc_close.sort_values(by='Close Absolute Change', ascending=False).drop('Ticker', axis=1)
noc_close1 = noc_close1.iloc[np.r_[0:5,-5:0],:]
noc_close2 = noc_close.sort_values(by='Return', ascending=False).drop('Ticker', axis=1)
noc_close2 = noc_close2.iloc[np.r_[0:5,-5:0],:]

rtx_close1 = rtx_close.sort_values(by='Close Absolute Change', ascending=False).drop('Ticker', axis=1)
rtx_close1 = rtx_close1.iloc[np.r_[0:5,-5:0],:]
rtx_close2 = rtx_close.sort_values(by='Return', ascending=False).drop('Ticker', axis=1)
rtx_close2 = rtx_close2.iloc[np.r_[0:5,-5:0],:]

#For each of the contractors, we now sort their absolute changes in closing price and daily returns from highest to
#lowest, and isolate the five greatest rises and declines in both categories.

In [31]:
ba_close1.head()

                 Close  Close Absolute Change     Return  Year
Date
2020-03-25  158.729996              31.049996  24.318606  2020
2020-06-08  230.500000              25.070007  12.203674  2020
2020-06-29  194.490005              24.480010  14.399159  2020
2020-04-06  148.770004              24.250007  19.474789  2020
2019-01-30  387.720001              22.809997   6.250855  2019

In [32]:
ba_close2.head()

                 Close  Close Absolute Change     Return  Year
Date
2020-03-25  158.729996              31.049996  24.318606  2020
2020-03-24  127.680000              22.059997  20.886192  2020
2020-04-06  148.770004              24.250007  19.474789  2020
2008-10-28   48.910000               6.549999  15.462698  2008
1987-07-28   11.944444               1.583333  15.281498  1987

In [33]:
daily_return

Ticker            BA        GD       LMT       NOC       RTX       SPX
Date
2016-03-21  1.418329 -0.494646  0.158431  0.097937  0.121151  0.098557
2016-03-22 -0.544683  0.341301 -0.239537  0.082399 -0.514269 -0.087736
2016-03-23 -1.672583 -0.680271  0.240112  0.319034  0.456115 -0.638599
2016-03-24 -0.556982 -3.901135 -1.473378 -0.389829 -0.050450 -0.037806
2016-03-28 -0.628218  1.348005  0.486238  0.350159 -0.151423  0.054520
...              ...       ...       ...       ...       ...       ...
2021-03-15 -1.322485  0.238252  1.828391  1.308851  1.337243  0.649196
2021-03-16 -3.922749 -0.786599  0.207846  0.032709 -1.671487 -0.156969
2021-03-17  3.283566  1.254847  1.120613  1.546564  1.687117  0.287934
2021-03-18 -2.856709  0.968905  2.116695  1.407089 -2.036194 -1.476050
2021-03-19 -0.093725 -0.903822 -0.942950 -1.997208  0.538875 -0.060274

[1259 rows x 6 columns]

In [34]:
print(list(data.Date.unique()))

['1985-01-02', '1985-01-03', '1985-01-04', '1985-01-07', '1985-01-08', '1985-01-09', '1985-01-10', '1985-01-11', '1985-01-14', '1985-01-15', '1985-01-16', '1985-01-17', '1985-01-18', '1985-01-21', '1985-01-22', '1985-01-23', '1985-01-24', '1985-01-25', '1985-01-28', '1985-01-29', '1985-01-30', '1985-01-31', '1985-02-01', '1985-02-04', '1985-02-05', '1985-02-06', '1985-02-07', '1985-02-08', '1985-02-11', '1985-02-12', '1985-02-13', '1985-02-14', '1985-02-15', '1985-02-19', '1985-02-20', '1985-02-21', '1985-02-22', '1985-02-25', '1985-02-26', '1985-02-27', '1985-02-28', '1985-03-01', '1985-03-04', '1985-03-05', '1985-03-06', '1985-03-07', '1985-03-08', '1985-03-11', '1985-03-12', '1985-03-13', '1985-03-14', '1985-03-15', '1985-03-18', '1985-03-19', '1985-03-20', '1985-03-21', '1985-03-22', '1985-03-25', '1985-03-26', '1985-03-27', '1985-03-28', '1985-03-29', '1985-04-01', '1985-04-02', '1985-04-03', '1985-04-04', '1985-04-08', '1985-04-09', '1985-04-10', '1985-04-11', '1985-04-12', '1985-04-15', '1985-04-16', '1985-04-17', '1985-04-18', '1985-04-19', '1985-04-22', '1985-04-23', '1985-04-24', '1985-04-25', '1985-04-26', '1985-04-29', '1985-04-30', '1985-05-01', '1985-05-02', '1985-05-03', '1985-05-06', '1985-05-07', '1985-05-08', '1985-05-09', '1985-05-10', '1985-05-13', '1985-05-14', '1985-05-15', '1985-05-16', '1985-05-17', '1985-05-20', '1985-05-21', '1985-05-22', '1985-05-23', '1985-05-24', '1985-05-28', '1985-05-29', '1985-05-30', '1985-05-31', '1985-06-03', '1985-06-04', '1985-06-05', '1985-06-06', '1985-06-07', '1985-06-10', '1985-06-11', '1985-06-12', '1985-06-13', '1985-06-14', '1985-06-17', '1985-06-18', '1985-06-19', '1985-06-20', '1985-06-21', '1985-06-24', '1985-06-25', '1985-06-26', '1985-06-27', '1985-06-28', '1985-07-01', '1985-07-02', '1985-07-03', '1985-07-05', '1985-07-08', '1985-07-09', '1985-07-10', '1985-07-11', '1985-07-12', '1985-07-15', '1985-07-16', '1985-07-17', '1985-07-18', '1985-07-19', '1985-07-22', '1985-07-23', '1985-07-24', '1985-07-25', '1985-07-26', '1985-07-29', '1985-07-30', '1985-07-31', '1985-08-01', '1985-08-02', '1985-08-05', '1985-08-06', '1985-08-07', '1985-08-08', '1985-08-09', '1985-08-12', '1985-08-13', '1985-08-14', '1985-08-15', '1985-08-16', '1985-08-19', '1985-08-20', '1985-08-21', '1985-08-22', '1985-08-23', '1985-08-26', '1985-08-27', '1985-08-28', '1985-08-29', '1985-08-30', '1985-09-03', '1985-09-04', '1985-09-05', '1985-09-06', '1985-09-09', '1985-09-10', '1985-09-11', '1985-09-12', '1985-09-13', '1985-09-16', '1985-09-17', '1985-09-18', '1985-09-19', '1985-09-20', '1985-09-23', '1985-09-24', '1985-09-25', '1985-09-26', '1985-09-30', '1985-10-01', '1985-10-02', '1985-10-03', '1985-10-04', '1985-10-07', '1985-10-08', '1985-10-09', '1985-10-10', '1985-10-11', '1985-10-14', '1985-10-15', '1985-10-16', '1985-10-17', '1985-10-18', '1985-10-21', '1985-10-22', '1985-10-23', '1985-10-24', '1985-10-25', '1985-10-28', '1985-10-29', '1985-10-30', '1985-10-31', '1985-11-01', '1985-11-04', '1985-11-05', '1985-11-06', '1985-11-07', '1985-11-08', '1985-11-11', '1985-11-12', '1985-11-13', '1985-11-14', '1985-11-15', '1985-11-18', '1985-11-19', '1985-11-20', '1985-11-21', '1985-11-22', '1985-11-25', '1985-11-26', '1985-11-27', '1985-11-29', '1985-12-02', '1985-12-03', '1985-12-04', '1985-12-05', '1985-12-06', '1985-12-09', '1985-12-10', '1985-12-11', '1985-12-12', '1985-12-13', '1985-12-16', '1985-12-17', '1985-12-18', '1985-12-19', '1985-12-20', '1985-12-23', '1985-12-24', '1985-12-26', '1985-12-27', '1985-12-30', '1985-12-31', '1986-01-02', '1986-01-03', '1986-01-06', '1986-01-07', '1986-01-08', '1986-01-09', '1986-01-10', '1986-01-13', '1986-01-14', '1986-01-15', '1986-01-16', '1986-01-17', '1986-01-20', '1986-01-21', '1986-01-22', '1986-01-23', '1986-01-24', '1986-01-27', '1986-01-28', '1986-01-29', '1986-01-30', '1986-01-31', '1986-02-03', '1986-02-04', '1986-02-05', '1986-02-06', '1986-02-07', '1986-02-10', '1986-02-11', '1986-02-12', '1986-02-13', '1986-02-14', '1986-02-18', '1986-02-19', '1986-02-20', '1986-02-21', '1986-02-24', '1986-02-25', '1986-02-26', '1986-02-27', '1986-02-28', '1986-03-03', '1986-03-04', '1986-03-05', '1986-03-06', '1986-03-07', '1986-03-10', '1986-03-11', '1986-03-12', '1986-03-13', '1986-03-14', '1986-03-17', '1986-03-18', '1986-03-19', '1986-03-20', '1986-03-21', '1986-03-24', '1986-03-25', '1986-03-26', '1986-03-27', '1986-03-31', '1986-04-01', '1986-04-02', '1986-04-03', '1986-04-04', '1986-04-07', '1986-04-08', '1986-04-09', '1986-04-10', '1986-04-11', '1986-04-14', '1986-04-15', '1986-04-16', '1986-04-17', '1986-04-18', '1986-04-21', '1986-04-22', '1986-04-23', '1986-04-24', '1986-04-25', '1986-04-28', '1986-04-29', '1986-04-30', '1986-05-01', '1986-05-02', '1986-05-05', '1986-05-06', '1986-05-07', '1986-05-08', '1986-05-09', '1986-05-12', '1986-05-13', '1986-05-14', '1986-05-15', '1986-05-16', '1986-05-19', '1986-05-20', '1986-05-21', '1986-05-22', '1986-05-23', '1986-05-27', '1986-05-28', '1986-05-29', '1986-05-30', '1986-06-02', '1986-06-03', '1986-06-04', '1986-06-05', '1986-06-06', '1986-06-09', '1986-06-10', '1986-06-11', '1986-06-12', '1986-06-13', '1986-06-16', '1986-06-17', '1986-06-18', '1986-06-19', '1986-06-20', '1986-06-23', '1986-06-24', '1986-06-25', '1986-06-26', '1986-06-27', '1986-06-30', '1986-07-01', '1986-07-02', '1986-07-03', '1986-07-07', '1986-07-08', '1986-07-09', '1986-07-10', '1986-07-11', '1986-07-14', '1986-07-15', '1986-07-16', '1986-07-17', '1986-07-18', '1986-07-21', '1986-07-22', '1986-07-23', '1986-07-24', '1986-07-25', '1986-07-28', '1986-07-29', '1986-07-30', '1986-07-31', '1986-08-01', '1986-08-04', '1986-08-05', '1986-08-06', '1986-08-07', '1986-08-08', '1986-08-11', '1986-08-12', '1986-08-13', '1986-08-14', '1986-08-15', '1986-08-18', '1986-08-19', '1986-08-20', '1986-08-21', '1986-08-22', '1986-08-25', '1986-08-26', '1986-08-27', '1986-08-28', '1986-08-29', '1986-09-02', '1986-09-03', '1986-09-04', '1986-09-05', '1986-09-08', '1986-09-09', '1986-09-10', '1986-09-11', '1986-09-12', '1986-09-15', '1986-09-16', '1986-09-17', '1986-09-18', '1986-09-19', '1986-09-22', '1986-09-23', '1986-09-24', '1986-09-25', '1986-09-26', '1986-09-29', '1986-09-30', '1986-10-01', '1986-10-02', '1986-10-03', '1986-10-06', '1986-10-07', '1986-10-08', '1986-10-09', '1986-10-10', '1986-10-13', '1986-10-14', '1986-10-15', '1986-10-16', '1986-10-17', '1986-10-20', '1986-10-21', '1986-10-22', '1986-10-23', '1986-10-24', '1986-10-27', '1986-10-28', '1986-10-29', '1986-10-30', '1986-10-31', '1986-11-03', '1986-11-04', '1986-11-05', '1986-11-06', '1986-11-07', '1986-11-10', '1986-11-11', '1986-11-12', '1986-11-13', '1986-11-14', '1986-11-17', '1986-11-18', '1986-11-19', '1986-11-20', '1986-11-21', '1986-11-24', '1986-11-25', '1986-11-26', '1986-11-28', '1986-12-01', '1986-12-02', '1986-12-03', '1986-12-04', '1986-12-05', '1986-12-08', '1986-12-09', '1986-12-10', '1986-12-11', '1986-12-12', '1986-12-15', '1986-12-16', '1986-12-17', '1986-12-18', '1986-12-19', '1986-12-22', '1986-12-23', '1986-12-24', '1986-12-26', '1986-12-29', '1986-12-30', '1986-12-31', '1987-01-02', '1987-01-05', '1987-01-06', '1987-01-07', '1987-01-08', '1987-01-09', '1987-01-12', '1987-01-13', '1987-01-14', '1987-01-15', '1987-01-16', '1987-01-19', '1987-01-20', '1987-01-21', '1987-01-22', '1987-01-23', '1987-01-26', '1987-01-27', '1987-01-28', '1987-01-29', '1987-01-30', '1987-02-02', '1987-02-03', '1987-02-04', '1987-02-05', '1987-02-06', '1987-02-09', '1987-02-10', '1987-02-11', '1987-02-12', '1987-02-13', '1987-02-17', '1987-02-18', '1987-02-19', '1987-02-20', '1987-02-23', '1987-02-24', '1987-02-25', '1987-02-26', '1987-02-27', '1987-03-02', '1987-03-03', '1987-03-04', '1987-03-05', '1987-03-06', '1987-03-09', '1987-03-10', '1987-03-11', '1987-03-12', '1987-03-13', '1987-03-16', '1987-03-17', '1987-03-18', '1987-03-19', '1987-03-20', '1987-03-23', '1987-03-24', '1987-03-25', '1987-03-26', '1987-03-27', '1987-03-30', '1987-03-31', '1987-04-01', '1987-04-02', '1987-04-03', '1987-04-06', '1987-04-07', '1987-04-08', '1987-04-09', '1987-04-10', '1987-04-13', '1987-04-14', '1987-04-15', '1987-04-16', '1987-04-20', '1987-04-21', '1987-04-22', '1987-04-23', '1987-04-24', '1987-04-27', '1987-04-28', '1987-04-29', '1987-04-30', '1987-05-01', '1987-05-04', '1987-05-05', '1987-05-06', '1987-05-07', '1987-05-08', '1987-05-11', '1987-05-12', '1987-05-13', '1987-05-14', '1987-05-15', '1987-05-18', '1987-05-19', '1987-05-20', '1987-05-21', '1987-05-22', '1987-05-26', '1987-05-27', '1987-05-28', '1987-05-29', '1987-06-01', '1987-06-02', '1987-06-03', '1987-06-04', '1987-06-05', '1987-06-08', '1987-06-09', '1987-06-10', '1987-06-11', '1987-06-12', '1987-06-15', '1987-06-16', '1987-06-17', '1987-06-18', '1987-06-19', '1987-06-22', '1987-06-23', '1987-06-24', '1987-06-25', '1987-06-26', '1987-06-29', '1987-06-30', '1987-07-01', '1987-07-02', '1987-07-06', '1987-07-07', '1987-07-08', '1987-07-09', '1987-07-10', '1987-07-13', '1987-07-14', '1987-07-15', '1987-07-16', '1987-07-17', '1987-07-20', '1987-07-21', '1987-07-22', '1987-07-23', '1987-07-24', '1987-07-27', '1987-07-28', '1987-07-29', '1987-07-30', '1987-07-31', '1987-08-03', '1987-08-04', '1987-08-05', '1987-08-06', '1987-08-07', '1987-08-10', '1987-08-11', '1987-08-12', '1987-08-13', '1987-08-14', '1987-08-17', '1987-08-18', '1987-08-19', '1987-08-20', '1987-08-21', '1987-08-24', '1987-08-25', '1987-08-26', '1987-08-27', '1987-08-28', '1987-08-31', '1987-09-01', '1987-09-02', '1987-09-03', '1987-09-04', '1987-09-08', '1987-09-09', '1987-09-10', '1987-09-11', '1987-09-14', '1987-09-15', '1987-09-16', '1987-09-17', '1987-09-18', '1987-09-21', '1987-09-22', '1987-09-23', '1987-09-24', '1987-09-25', '1987-09-28', '1987-09-29', '1987-09-30', '1987-10-01', '1987-10-02', '1987-10-05', '1987-10-06', '1987-10-07', '1987-10-08', '1987-10-09', '1987-10-12', '1987-10-13', '1987-10-14', '1987-10-15', '1987-10-16', '1987-10-19', '1987-10-20', '1987-10-21', '1987-10-22', '1987-10-23', '1987-10-26', '1987-10-27', '1987-10-28', '1987-10-29', '1987-10-30', '1987-11-02', '1987-11-03', '1987-11-04', '1987-11-05', '1987-11-06', '1987-11-09', '1987-11-10', '1987-11-11', '1987-11-12', '1987-11-13', '1987-11-16', '1987-11-17', '1987-11-18', '1987-11-19', '1987-11-20', '1987-11-23', '1987-11-24', '1987-11-25', '1987-11-27', '1987-11-30', '1987-12-01', '1987-12-02', '1987-12-03', '1987-12-04', '1987-12-07', '1987-12-08', '1987-12-09', '1987-12-10', '1987-12-11', '1987-12-14', '1987-12-15', '1987-12-16', '1987-12-17', '1987-12-18', '1987-12-21', '1987-12-22', '1987-12-23', '1987-12-24', '1987-12-28', '1987-12-29', '1987-12-30', '1987-12-31', '1988-01-04', '1988-01-05', '1988-01-06', '1988-01-07', '1988-01-08', '1988-01-11', '1988-01-12', '1988-01-13', '1988-01-14', '1988-01-15', '1988-01-18', '1988-01-19', '1988-01-20', '1988-01-21', '1988-01-22', '1988-01-25', '1988-01-26', '1988-01-27', '1988-01-28', '1988-01-29', '1988-02-01', '1988-02-02', '1988-02-03', '1988-02-04', '1988-02-05', '1988-02-08', '1988-02-09', '1988-02-10', '1988-02-11', '1988-02-12', '1988-02-16', '1988-02-17', '1988-02-18', '1988-02-19', '1988-02-22', '1988-02-23', '1988-02-24', '1988-02-25', '1988-02-26', '1988-02-29', '1988-03-01', '1988-03-02', '1988-03-03', '1988-03-04', '1988-03-07', '1988-03-08', '1988-03-09', '1988-03-10', '1988-03-11', '1988-03-14', '1988-03-15', '1988-03-16', '1988-03-17', '1988-03-18', '1988-03-21', '1988-03-22', '1988-03-23', '1988-03-24', '1988-03-25', '1988-03-28', '1988-03-29', '1988-03-30', '1988-03-31', '1988-04-04', '1988-04-05', '1988-04-06', '1988-04-07', '1988-04-08', '1988-04-11', '1988-04-12', '1988-04-13', '1988-04-14', '1988-04-15', '1988-04-18', '1988-04-19', '1988-04-20', '1988-04-21', '1988-04-22', '1988-04-25', '1988-04-26', '1988-04-27', '1988-04-28', '1988-04-29', '1988-05-02', '1988-05-03', '1988-05-04', '1988-05-05', '1988-05-06', '1988-05-09', '1988-05-10', '1988-05-11', '1988-05-12', '1988-05-13', '1988-05-16', '1988-05-17', '1988-05-18', '1988-05-19', '1988-05-20', '1988-05-23', '1988-05-24', '1988-05-25', '1988-05-26', '1988-05-27', '1988-05-31', '1988-06-01', '1988-06-02', '1988-06-03', '1988-06-06', '1988-06-07', '1988-06-08', '1988-06-09', '1988-06-10', '1988-06-13', '1988-06-14', '1988-06-15', '1988-06-16', '1988-06-17', '1988-06-20', '1988-06-21', '1988-06-22', '1988-06-23', '1988-06-24', '1988-06-27', '1988-06-28', '1988-06-29', '1988-06-30', '1988-07-01', '1988-07-05', '1988-07-06', '1988-07-07', '1988-07-08', '1988-07-11', '1988-07-12', '1988-07-13', '1988-07-14', '1988-07-15', '1988-07-18', '1988-07-19', '1988-07-20', '1988-07-21', '1988-07-22', '1988-07-25', '1988-07-26', '1988-07-27', '1988-07-28', '1988-07-29', '1988-08-01', '1988-08-02', '1988-08-03', '1988-08-04', '1988-08-05', '1988-08-08', '1988-08-09', '1988-08-10', '1988-08-11', '1988-08-12', '1988-08-15', '1988-08-16', '1988-08-17', '1988-08-18', '1988-08-19', '1988-08-22', '1988-08-23', '1988-08-24', '1988-08-25', '1988-08-26', '1988-08-29', '1988-08-30', '1988-08-31', '1988-09-01', '1988-09-02', '1988-09-06', '1988-09-07', '1988-09-08', '1988-09-09', '1988-09-12', '1988-09-13', '1988-09-14', '1988-09-15', '1988-09-16', '1988-09-19', '1988-09-20', '1988-09-21', '1988-09-22', '1988-09-23', '1988-09-26', '1988-09-27', '1988-09-28', '1988-09-29', '1988-09-30', '1988-10-03', '1988-10-04', '1988-10-05', '1988-10-06', '1988-10-07', '1988-10-10', '1988-10-11', '1988-10-12', '1988-10-13', '1988-10-14', '1988-10-17', '1988-10-18', '1988-10-19', '1988-10-20', '1988-10-21', '1988-10-24', '1988-10-25', '1988-10-26', '1988-10-27', '1988-10-28', '1988-10-31', '1988-11-01', '1988-11-02', '1988-11-03', '1988-11-04', '1988-11-07', '1988-11-08', '1988-11-09', '1988-11-10', '1988-11-11', '1988-11-14', '1988-11-15', '1988-11-16', '1988-11-17', '1988-11-18', '1988-11-21', '1988-11-22', '1988-11-23', '1988-11-25', '1988-11-28', '1988-11-29', '1988-11-30', '1988-12-01', '1988-12-02', '1988-12-05', '1988-12-06', '1988-12-07', '1988-12-08', '1988-12-09', '1988-12-12', '1988-12-13', '1988-12-14', '1988-12-15', '1988-12-16', '1988-12-19', '1988-12-20', '1988-12-21', '1988-12-22', '1988-12-23', '1988-12-27', '1988-12-28', '1988-12-29', '1988-12-30', '1989-01-03', '1989-01-04', '1989-01-05', '1989-01-06', '1989-01-09', '1989-01-10', '1989-01-11', '1989-01-12', '1989-01-13', '1989-01-16', '1989-01-17', '1989-01-18', '1989-01-19', '1989-01-20', '1989-01-23', '1989-01-24', '1989-01-25', '1989-01-26', '1989-01-27', '1989-01-30', '1989-01-31', '1989-02-01', '1989-02-02', '1989-02-03', '1989-02-06', '1989-02-07', '1989-02-08', '1989-02-09', '1989-02-10', '1989-02-13', '1989-02-14', '1989-02-15', '1989-02-16', '1989-02-17', '1989-02-21', '1989-02-22', '1989-02-23', '1989-02-24', '1989-02-27', '1989-02-28', '1989-03-01', '1989-03-02', '1989-03-03', '1989-03-06', '1989-03-07', '1989-03-08', '1989-03-09', '1989-03-10', '1989-03-13', '1989-03-14', '1989-03-15', '1989-03-16', '1989-03-17', '1989-03-20', '1989-03-21', '1989-03-22', '1989-03-23', '1989-03-27', '1989-03-28', '1989-03-29', '1989-03-30', '1989-03-31', '1989-04-03', '1989-04-04', '1989-04-05', '1989-04-06', '1989-04-07', '1989-04-10', '1989-04-11', '1989-04-12', '1989-04-13', '1989-04-14', '1989-04-17', '1989-04-18', '1989-04-19', '1989-04-20', '1989-04-21', '1989-04-24', '1989-04-25', '1989-04-26', '1989-04-27', '1989-04-28', '1989-05-01', '1989-05-02', '1989-05-03', '1989-05-04', '1989-05-05', '1989-05-08', '1989-05-09', '1989-05-10', '1989-05-11', '1989-05-12', '1989-05-15', '1989-05-16', '1989-05-17', '1989-05-18', '1989-05-19', '1989-05-22', '1989-05-23', '1989-05-24', '1989-05-25', '1989-05-26', '1989-05-30', '1989-05-31', '1989-06-01', '1989-06-02', '1989-06-05', '1989-06-06', '1989-06-07', '1989-06-08', '1989-06-09', '1989-06-12', '1989-06-13', '1989-06-14', '1989-06-15', '1989-06-16', '1989-06-19', '1989-06-20', '1989-06-21', '1989-06-22', '1989-06-23', '1989-06-26', '1989-06-27', '1989-06-28', '1989-06-29', '1989-06-30', '1989-07-03', '1989-07-05', '1989-07-06', '1989-07-07', '1989-07-10', '1989-07-11', '1989-07-12', '1989-07-13', '1989-07-14', '1989-07-17', '1989-07-18', '1989-07-19', '1989-07-20', '1989-07-21', '1989-07-24', '1989-07-25', '1989-07-26', '1989-07-27', '1989-07-28', '1989-07-31', '1989-08-01', '1989-08-02', '1989-08-03', '1989-08-04', '1989-08-07', '1989-08-08', '1989-08-09', '1989-08-10', '1989-08-11', '1989-08-14', '1989-08-15', '1989-08-16', '1989-08-17', '1989-08-18', '1989-08-21', '1989-08-22', '1989-08-23', '1989-08-24', '1989-08-25', '1989-08-28', '1989-08-29', '1989-08-30', '1989-08-31', '1989-09-01', '1989-09-05', '1989-09-06', '1989-09-07', '1989-09-08', '1989-09-11', '1989-09-12', '1989-09-13', '1989-09-14', '1989-09-15', '1989-09-18', '1989-09-19', '1989-09-20', '1989-09-21', '1989-09-22', '1989-09-25', '1989-09-26', '1989-09-27', '1989-09-28', '1989-09-29', '1989-10-02', '1989-10-03', '1989-10-04', '1989-10-05', '1989-10-06', '1989-10-09', '1989-10-10', '1989-10-11', '1989-10-12', '1989-10-13', '1989-10-16', '1989-10-17', '1989-10-18', '1989-10-19', '1989-10-20', '1989-10-23', '1989-10-24', '1989-10-25', '1989-10-26', '1989-10-27', '1989-10-30', '1989-10-31', '1989-11-01', '1989-11-02', '1989-11-03', '1989-11-06', '1989-11-07', '1989-11-08', '1989-11-09', '1989-11-10', '1989-11-13', '1989-11-14', '1989-11-15', '1989-11-16', '1989-11-17', '1989-11-20', '1989-11-21', '1989-11-22', '1989-11-24', '1989-11-27', '1989-11-28', '1989-11-29', '1989-11-30', '1989-12-01', '1989-12-04', '1989-12-05', '1989-12-06', '1989-12-07', '1989-12-08', '1989-12-11', '1989-12-12', '1989-12-13', '1989-12-14', '1989-12-15', '1989-12-18', '1989-12-19', '1989-12-20', '1989-12-21', '1989-12-22', '1989-12-26', '1989-12-27', '1989-12-28', '1989-12-29', '1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05', '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11', '1990-01-12', '1990-01-15', '1990-01-16', '1990-01-17', '1990-01-18', '1990-01-19', '1990-01-22', '1990-01-23', '1990-01-24', '1990-01-25', '1990-01-26', '1990-01-29', '1990-01-30', '1990-01-31', '1990-02-01', '1990-02-02', '1990-02-05', '1990-02-06', '1990-02-07', '1990-02-08', '1990-02-09', '1990-02-12', '1990-02-13', '1990-02-14', '1990-02-15', '1990-02-16', '1990-02-20', '1990-02-21', '1990-02-22', '1990-02-23', '1990-02-26', '1990-02-27', '1990-02-28', '1990-03-01', '1990-03-02', '1990-03-05', '1990-03-06', '1990-03-07', '1990-03-08', '1990-03-09', '1990-03-12', '1990-03-13', '1990-03-14', '1990-03-15', '1990-03-16', '1990-03-19', '1990-03-20', '1990-03-21', '1990-03-22', '1990-03-23', '1990-03-26', '1990-03-27', '1990-03-28', '1990-03-29', '1990-03-30', '1990-04-02', '1990-04-03', '1990-04-04', '1990-04-05', '1990-04-06', '1990-04-09', '1990-04-10', '1990-04-11', '1990-04-12', '1990-04-16', '1990-04-17', '1990-04-18', '1990-04-19', '1990-04-20', '1990-04-23', '1990-04-24', '1990-04-25', '1990-04-26', '1990-04-27', '1990-04-30', '1990-05-01', '1990-05-02', '1990-05-03', '1990-05-04', '1990-05-07', '1990-05-08', '1990-05-09', '1990-05-10', '1990-05-11', '1990-05-14', '1990-05-15', '1990-05-16', '1990-05-17', '1990-05-18', '1990-05-21', '1990-05-22', '1990-05-23', '1990-05-24', '1990-05-25', '1990-05-29', '1990-05-30', '1990-05-31', '1990-06-01', '1990-06-04', '1990-06-05', '1990-06-06', '1990-06-07', '1990-06-08', '1990-06-11', '1990-06-12', '1990-06-13', '1990-06-14', '1990-06-15', '1990-06-18', '1990-06-19', '1990-06-20', '1990-06-21', '1990-06-22', '1990-06-25', '1990-06-26', '1990-06-27', '1990-06-28', '1990-06-29', '1990-07-02', '1990-07-03', '1990-07-05', '1990-07-06', '1990-07-09', '1990-07-10', '1990-07-11', '1990-07-12', '1990-07-13', '1990-07-16', '1990-07-17', '1990-07-18', '1990-07-19', '1990-07-20', '1990-07-23', '1990-07-24', '1990-07-25', '1990-07-26', '1990-07-27', '1990-07-30', '1990-07-31', '1990-08-01', '1990-08-02', '1990-08-03', '1990-08-06', '1990-08-07', '1990-08-08', '1990-08-09', '1990-08-10', '1990-08-13', '1990-08-14', '1990-08-15', '1990-08-16', '1990-08-17', '1990-08-20', '1990-08-21', '1990-08-22', '1990-08-23', '1990-08-24', '1990-0

In [35]:
years = data.loc[(data.Date == '1985-01-02') | (data.Date == '1985-12-31') |
                 (data.Date == '1986-01-02') | (data.Date == '1986-12-31') |
                 (data.Date == '1987-01-02') | (data.Date == '1987-12-31') |
                 (data.Date == '1988-01-04') | (data.Date == '1988-12-30') |
                 (data.Date == '1989-01-03') | (data.Date == '1989-12-29') |
                 (data.Date == '1990-01-02') | (data.Date == '1990-12-31') |
                 (data.Date == '1991-01-02') | (data.Date == '1991-12-31') |
                 (data.Date == '1992-01-02') | (data.Date == '1992-12-31') |
                 (data.Date == '1993-01-04') | (data.Date == '1993-12-31') |
                 (data.Date == '1994-01-03') | (data.Date == '1994-12-30') |
                 (data.Date == '1995-01-03') | (data.Date == '1995-12-29') |
                 (data.Date == '1996-01-02') | (data.Date == '1996-12-31') |
                 (data.Date == '1997-01-02') | (data.Date == '1997-12-31') |
                 (data.Date == '1998-01-02') | (data.Date == '1998-12-31') |
                 (data.Date == '1999-01-04') | (data.Date == '1999-12-31') |
                 (data.Date == '2000-01-03') | (data.Date == '2000-12-29') |
                 (data.Date == '2001-01-02') | (data.Date == '2001-12-31') |
                 (data.Date == '2002-01-02') | (data.Date == '2002-12-31') |
                 (data.Date == '2003-01-02') | (data.Date == '2003-12-31') |
                 (data.Date == '2004-01-02') | (data.Date == '2004-12-31') |
                 (data.Date == '2005-01-03') | (data.Date == '2005-12-30') |
                 (data.Date == '2006-01-03') | (data.Date == '2006-12-29') |
                 (data.Date == '2007-01-03') | (data.Date == '2007-12-31') |
                 (data.Date == '2008-01-02') | (data.Date == '2008-12-31') |
                 (data.Date == '2009-01-02') | (data.Date == '2009-12-31') |
                 (data.Date == '2010-01-04') | (data.Date == '2010-12-31') |
                 (data.Date == '2011-01-03') | (data.Date == '2011-12-30') |
                 (data.Date == '2012-01-03') | (data.Date == '2012-12-31') |
                 (data.Date == '2013-01-02') | (data.Date == '2013-12-31') |
                 (data.Date == '2014-01-02') | (data.Date == '2014-12-31') |
                 (data.Date == '2015-01-02') | (data.Date == '2015-12-31') |
                 (data.Date == '2016-01-04') | (data.Date == '2016-12-30') |
                 (data.Date == '2017-01-03') | (data.Date == '2017-12-29') |
                 (data.Date == '2018-01-02') | (data.Date == '2018-12-31') |
                 (data.Date == '2019-01-02') | (data.Date == '2019-12-31') |
                 (data.Date == '2020-01-02') | (data.Date == '2020-12-31') |
                 (data.Date == '2021-01-04') | (data.Date == '2021-03-19')]
years.head()

#We update our new data frame by isolating the first and last days for trading over each year, from which we will use
#these to later refer to the contractors' first opening prices and last closing ones on an annual basis.

,Ticker,Date,Open,High,Low,Close,Close Absolute Change,Return,Range,Year
0,BA,1985-01-02,8.370370,8.370370,8.037037,8.037037,0.000000,0.000000,0.333333,1985
251,BA,1985-12-31,11.555556,11.722222,11.555556,11.611111,0.111111,0.966183,0.166666,1985
252,BA,1986-01-02,11.611111,11.750000,11.500000,11.666667,0.055556,0.478473,0.250000,1986
504,BA,1986-12-31,11.555556,11.555556,11.333333,11.361111,-0.194445,-1.682697,0.222223,1986
505,BA,1987-01-02,11.416667,11.611111,11.416667,11.583333,0.222222,1.955988,0.194444,1987

In [36]:
years = years.iloc[:,[0,1,2,5,9]]
years['Month'] = pd.DatetimeIndex(years.Date).month
years.head()

#To help us confirm that we are using the correct dates for opening and closing prices, we add a Month column
#corresponding to each date.

    Ticker        Date       Open      Close  Year  Month
0       BA  1985-01-02   8.370370   8.037037  1985      1
251     BA  1985-12-31  11.555556  11.611111  1985     12
252     BA  1986-01-02  11.611111  11.666667  1986      1
504     BA  1986-12-31  11.555556  11.361111  1986     12
505     BA  1987-01-02  11.416667  11.583333  1987      1

In [37]:
years['Value'] = 0
years['Value'] = np.where(years.Month == 1, years.Open, years.Value)
years['Value'] = np.where(years.Month != 1, years.Close, years.Value)
years['Return'] = 0
years['Return'] = np.where(years.Month !=1, years.Value.pct_change()*100, years.Return)
years.head()

#We add a Value column that reports either the opening or closing price depending on its corresponding month.  For  
#our newest Return column, we calculate the relative change between a year's opening price and its closing one, and
#report the annual figures as percentages.

,Ticker,Date,Open,Close,Year,Month,Value,Return
0,BA,1985-01-02,8.370370,8.037037,1985,1,8.370370,0.000000
251,BA,1985-12-31,11.555556,11.611111,1985,12,11.611111,38.716819
252,BA,1986-01-02,11.611111,11.666667,1986,1,11.611111,0.000000
504,BA,1986-12-31,11.555556,11.361111,1986,12,11.361111,-2.153110
505,BA,1987-01-02,11.416667,11.583333,1987,1,11.416667,0.000000

In [38]:
annual = years.loc[(years.Month != 1)] #This data frame reserves only rows where the Return column is not zero.
annual.head()

,Ticker,Date,Open,Close,Year,Month,Value,Return
251,BA,1985-12-31,11.555556,11.611111,1985,12,11.611111,38.716819
504,BA,1986-12-31,11.555556,11.361111,1986,12,11.361111,-2.153110
757,BA,1987-12-31,8.333333,8.222222,1987,12,8.222222,-27.980539
1010,BA,1988-12-30,13.555556,13.472222,1988,12,13.472222,62.207347
1262,BA,1989-12-29,19.416668,19.791668,1989,12,19.791668,46.907229

In [39]:
average_return = annual.iloc[:,[0,7]] #For each ticker we report its average annual return.
average_return = average_return.groupby('Ticker').mean()
average_return

           Return
Ticker
BA      14.239722
GD      12.048078
LMT     12.287515
NOC     11.749598
RTX     11.438610
SPX     10.070044

In [40]:
annual_ba = annual.loc[(annual.Ticker == 'BA')].drop(['Date','Open','Close',
                                                      'Month','Value'], axis=1).set_index('Year')
annual_gd = annual.loc[(annual.Ticker == 'GD')].drop(['Date','Open','Close',
                                                      'Month','Value'], axis=1).set_index('Year')
annual_lmt = annual.loc[(annual.Ticker == 'LMT')].drop(['Date','Open','Close',
                                                        'Month','Value'], axis=1).set_index('Year')
annual_noc = annual.loc[(annual.Ticker == 'NOC')].drop(['Date','Open','Close',
                                                        'Month','Value'], axis=1).set_index('Year')
annual_rtx = annual.loc[(annual.Ticker == 'RTX')].drop(['Date','Open','Close',
                                                        'Month','Value'], axis=1).set_index('Year')
annual_spx = annual.loc[(annual.Ticker == 'SPX')].drop(['Date','Open','Close',
                                                        'Month','Value'], axis=1).set_index('Year')
annual_ba.head()

#Each ticker's annual returns get isolated into its own data frame.

     Ticker     Return
Year
1985     BA  38.716819
1986     BA  -2.153110
1987     BA -27.980539
1988     BA  62.207347
1989     BA  46.907229

In [41]:
daily_range = stocks.iloc[:,[0,1,9]]
daily_range = daily_range.pivot(index='Date',columns='Ticker',values='Range')
daily_range = daily_range.loc[(daily_range.index >= '2016-03-20')]
daily_range.head()

#When analyzing the contractors' volatilities, we can also view their daily trading price ranges.  Much like with our
#data frame covering daily returns, we include ranges from March 20, 2016 onward to cover a time span of five years.

Ticker            BA        GD       LMT       NOC       RTX
Date
2016-03-21  3.390000  1.020005  2.779998  2.259994  0.509754
2016-03-22  1.320007  1.959992  2.229996  1.589996  0.604156
2016-03-23  2.259995  1.430008  1.919998  1.770004  0.748897
2016-03-24  2.199997  4.659996  4.360001  1.429993  0.679676
2016-03-28  2.069992  2.119996  1.210007  1.229995  0.402767

## 2C. Exporting Our Data to Excel

In [42]:
#The following data frames in this and the next three cells will be exported to Excel and eventually collected 
#together into one file prior to being exported to Google Sheets.

ba.to_excel(r'ba.xlsx',index=True) #Boeing
gd.to_excel(r'gd.xlsx',index=True) #General Dynamics
lmt.to_excel(r'lmt.xlsx',index=True) #Lockheed Martin
noc.to_excel(r'noc.xlsx',index=True) #Northrop Grumman
rtx.to_excel(r'rtx.xlsx',index=True) #Raytheon Technologies
spx.to_excel(r'spx.xlsx',index=True) #S&P 500

volume_share.to_excel(r'volume_share.xlsx',index=True) #Contractors' frequency shares for volume ranges
close_share.to_excel(r'close_share.xlsx',index=True) #Contractors' frequency shares for closing price ranges

In [43]:
ba_vol1.to_excel(r'ba_vol1.xlsx',index=True) #Boeing's greatest daily volumes sorted
gd_vol1.to_excel(r'gd_vol1.xlsx',index=True) #General Dynamics' greatest daily volumes sorted
lmt_vol1.to_excel(r'lmt_vol1.xlsx',index=True) #Lockheed Martin's greatest daily volumes sorted
noc_vol1.to_excel(r'noc_vol1.xlsx',index=True) #Northrop Grumman's greatest daily volumes sorted
rtx_vol1.to_excel(r'rtx_vol1.xlsx',index=True) #Raytheon Technologies' greatest daily volumes sorted

ba_vol2.to_excel(r'ba_vol2.xlsx',index=True) #Boeing greatest relative changes in daily volume sorted
gd_vol2.to_excel(r'gd_vol2.xlsx',index=True) #General Dynamics greatest relative changes in daily volume sorted
lmt_vol2.to_excel(r'lmt_vol2.xlsx',index=True) #Lockheed Martin greatest relative changes in daily volume sorted
noc_vol2.to_excel(r'noc_vol2.xlsx',index=True) #Northrop Grumman greatest relative changes in daily volume sorted
rtx_vol2.to_excel(r'rtx_vol2.xlsx',index=True) #Raytheon Technologies greatest relative changes in daily volume sorted

volume_mean.to_excel(r'average_vol.xlsx',index=True) #Contractors' average volumes

In [44]:
ba_close1.to_excel(r'ba_close1.xlsx',index=True) #Boeing absolute changes in closing price sorted
gd_close1.to_excel(r'gd_close1.xlsx',index=True) #General Dynamics absolute changes in closing price sorted
lmt_close1.to_excel(r'lmt_close1.xlsx',index=True) #Lockheed Martin absolute changes in closing price sorted
noc_close1.to_excel(r'noc_close1.xlsx',index=True) #Northrop Grumman absolute changes in closing price sorted
rtx_close1.to_excel(r'rtx_close1.xlsx',index=True) #Raytheon Technologies absolute changes in closing price sorted

ba_close2.to_excel(r'ba_close2.xlsx',index=True) #Boeing daily returns sorted
gd_close2.to_excel(r'gd_close2.xlsx',index=True) #General Dynamics daily returns sorted
lmt_close2.to_excel(r'lmt_close2.xlsx',index=True) #Lockheed Martin daily returns sorted
noc_close2.to_excel(r'noc_close2.xlsx',index=True) #Northrop Grumman daily returns sorted
rtx_close2.to_excel(r'rtx_close2.xlsx',index=True) #Raytheon Technologies daily returns sorted

average_close.to_excel(r'average_close.xlsx',index=True) #Contractors' average closing prices

In [45]:
daily_return.to_excel(r'daily_return.xlsx',index=True) #Contractors and S&P 500's daily returns

average_return.to_excel(r'average_return.xlsx',index=True) #Contractors' average annual returns

annual_ba.to_excel(r'annual_ba.xlsx',index=True) #Boeing annual returns
annual_gd.to_excel(r'annual_gd.xlsx',index=True) #General Dynamics annual returns
annual_lmt.to_excel(r'annual_lmt.xlsx',index=True) #Lockheed Martin annual returns
annual_noc.to_excel(r'annual_noc.xlsx',index=True) #Northrop Grumman annual returns
annual_rtx.to_excel(r'annual_rtx.xlsx',index=True) #Raytheon Technologies annual returns
annual_spx.to_excel(r'annual_spx.xlsx',index=True) #S&P 500 annual returns

daily_range.to_excel(r'daily_range.xlsx',index=True) #Contractors' daily price ranges during trading

In [46]:
#Python references

#https://finance.yahoo.com/quote/BA?p=BA&.tsrc=fin-srch
#https://finance.yahoo.com/quote/GD?p=GD&.tsrc=fin-srch
#https://finance.yahoo.com/quote/LMT?p=LMT&.tsrc=fin-srch
#https://finance.yahoo.com/quote/NOC?p=NOC&.tsrc=fin-srch
#https://finance.yahoo.com/quote/RTX?p=RTX&.tsrc=fin-srch
#https://www.wsj.com/market-data/quotes/index/SPX/historical-prices
#https://stackoverflow.com/questions/25015711/time-data-does-not-match-format
#https://stackoverflow.com/questions/13389203/pandas-slice-a-multiindex-by-range-of-secondary-index
#https://stackoverflow.com/questions/49405336/pivoting-pandas-with-removal-of-some-headers-and-renaming-of-some-indexes
#https://stackoverflow.com/questions/39479919/how-do-i-subtract-the-previous-row-from-the-current-row-in-a-pandas-dataframe-an
#https://stackoverflow.com/questions/44513488/how-to-remove-multilevel-index-in-pandas-pivot-table
#https://pythonexamples.org/pandas-dataframe-replace-values-in-column-based-on-condition/